/* =============
    Header
============= */
header{
    padding: 22.5px 36px;
    display: grid;
    grid-template-columns: 25% 25% auto;
    grid-template-areas: "logo . burger"
    "nav nav nav";
 
    @include xl{
        display: grid;
        grid-template-columns: 30% auto 5%;
        grid-template-areas: "logo . nav . buttons ";
        border: 1px solid red;
    }
 
 
 
    #logo-container{
        display: flex;
        align-items: center;
        grid-area:logo;
 
    }
 
    #hamburger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: burger;
        background-color: transparent;
        border: none;
       
 
        @include xl{
            display: none;
        }
 
    }
 
    nav{
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        font-weight: 400;
 
        @include xl{
        }
 
 
       
    }
 
    .buttons{
        grid-area: buttons;
    }  
}
 