/* =============
    Buttons
============= */
button{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
#sign-in{
    border: 1px solid var(--black);
    padding: 20px 30px;
    border-radius: 8px;
    background-color: var(--darkblue);
    color: var(--white);
}
 
#sign-up{
    border: 1px solid var(--black);
    padding: 20px 24px;
    border-radius: 8px;
    color: var(--darkblue);  
    font-size: 16px;

}
 
#sign-in:hover{
    color: var(--black);
    transition: 0.25s;
 
}
 
 
#sign-up:hover{
    color: var(--black);
    transition: 0.25s;
}
 
#burger{
    border: none;
    background-color: transparent;
}
 