/* =============
    Buttons
============= */
button{
    border: 0;
}

 
.blue-btn{
    background-color: var(--lightblue);
    color:var(--white) ;
    padding: 20px 28px;
    border-radius: 6px;
    margin-top: 0;
    transition: 0.25s;
}
.blue-btn:hover{
    color: var(--green);
}
