/* =============
    Navigation
============= */
a{
    text-decoration: none;
   
   
}
 
 
nav{

   
   
    ul{
        display:flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
       
        li{
            color: var(--gray);
            list-style: none;
            padding: 25px;
            margin-right: 8px;
            font-weight: 400;
            a:link, a:visited{
                font-size: rem-calc(15);
                color: var(--gray);
                transition: 0.25s;
                display: flex;
            }
            a:hover, a:active{
                color: var(--light-blue);
 
            }
            a.blue-btn{
                color: var(--white);
            }
            a.select{
                color: var(--light-blue);
            }
        }
     
       
    }
}
 
 