/* =============
    Base
============= */

body{
    main{
        display: grid;
        grid-template-columns: auto 1170px auto;
        grid-template-areas:". main-content ." ;
 
        #main-grid-item{
            grid-area: main-content;
 
        }
    }
}
 
#html-tag{
    margin-top: 60px;
    display: flex;
    justify-content: center;
   
}
